button {
  background-color: white; 
  color: #d9853b; 
  border: 2px solid #558c89;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  font-family: Arial, Helvetica, sans-serif;
}

button:hover {
  background-color: #74afad;
  color: #ececea;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #558c89;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #74afad;
}

a {
	background-color: white; 
	color: #d9853b; 
	border: 2px solid #558c89;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	font-family: Arial, Helvetica, sans-serif;
}

a:hover {
	background-color: #74afad;
	color: #ececea;
}